
@{
    ViewBag.Title = "Custody";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<p style="text-align: center">BỘ PHẬN THƯỜNG TRỰC KTX</p>
<p>I. NHIỆM VỤ CHUNG</p>
<p>1. Quản lý sinh viên</p>
<h4>- Lập sổ danh sách, sổ ảnh sinh viên nội trú để theo dõi, quản lý.</h4>
<h4>- Kiểm tra danh sách phòng ở khớp với thực tế, phát hiện người ở trái phép ngoài danh sách của phòng.</h4>
<h4>- Nhận biết sinh viên đang ở KTX để quản lý chặt chẽ.</h4>
<p>2. Bảo vệ trật tự trị an</p>
<h4>- Phối hợp cán bộ phòng Hành chính-tổng hợp ngăn chặn các hành vi vi phạm trật tự trị an khu KTX.</h4>
<h4>- Giữ gìn trật tự trị an khu nội trú nơi viên chức đang quản lý; đóng - mở cửa khu nội trú đúng giờ quy định.</h4>
<h4>- Giám sát, kiểm tra sinh viên, các phòng ở SV việc thực hiện nội quy khu nội trú.</h4>
<h4>- Phát hiện, ngăn chặn kẻ gian vào KTX trộm cắp và thực hiện các hành vi bất chính.</h4>
<h4>- Phát hiện, ngăn chặn mọi vi phạm của sinh viên nội trú.</h4>
<p>3. Quản lý tài sản cơ sở vật chất</p>
<h4>- Giao, nhận tài sản cho sinh viên khi nhận phòng và trả phòng, thống kê tài sản do sinh viên làm hư hỏng; Tổng hợp báo cáo tài sản hư hỏng, đề nghị sửa chữa.</h4>
<h4>- Kiểm tra giám sát việc sử dụng tài sản của sinh viên, nếu hư hỏng do chủ quan của SV thì tiến hành lập biên bản, báo cáo lãnh đạo phòng để giải quyết bồi thường.</h4>
<h4>- Thường xuyên kiểm tra nguồn nước, bơm nước phục vụ sinh viên đầy đủ.</h4>
<h4>- Hàng tháng (cuối tháng) ghi số điện, nước của sinh viên tiêu dùng, nộp lại kết quả ghi cho thư ký văn phòng.</h4>
<h4>- Bật, tắt điện ánh sáng hành lang, đèn bảo vệ đúng giờ quy định.</h4>
<h4>- Kiểm tra thường xuyên hệ thống phòng chống cháy nổ (điện, bình chữa cháy, vòi phun, nguồn nước..), đôn đốc, nhắc nhở sinh viên công tác phòng chống cháy nổ.</h4>
<h4>- Khi có sự cố cháy nổ, chủ động mọi phương án chữa cháy và báo cho chuyên viên phụ trách, lãnh đạo đơn vị. Nếu xảy ra cháy lớn ngoài tầm kiểm soát, phải báo gấp, báo trực tiếp cho cảnh sát chữa cháy thành phố Quy Nhơn để kịp thời xử lý.</h4>
<p>4. Một số công việc liên quan</p>
<h4>- Hỗ trợ nhân viên VSMT chăm sóc cây xanh, môi trường khu vực xung quanh phòng trực KTX (phía trước và hông).</h4>
<h4>- Giúp đở, hỗ trợ SV nội trú trong những tình huống cần thiết.</h4>
<h4>- Một số công việc đột xuất khi lãnh đạo đơn vị phân công </h4>

