
@{
    ViewBag.Title = "Environment";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<p style="text-align: center">BỘ PHẬN VỆ SINH MÔI TRƯỜNG</p>
<p>I. NHIỆM VỤ CHUNG</p>
<h4>- Vệ sinh sạch sẽ trước và sau các KTX do viên chức quản lý.</h4>
<h4>- Vệ sinh hành lang, ban công, cầu thanh khu KTX của mình phụ trách.</h4>
<h4>- Vận chuyển rác về đúng nơi quy định ( nhà tập trung rác), cùng nhân viên môi trường khác dọn vệ sinh nơi tập trung rác sạch sẽ.</h4>
<h4>- Chăm sóc, bảo dưỡng, phát triển cây xanh trong khuôn viên khu nội trú.</h4>
<h4>- Thường xuyên kiểm tra, nạo vét mương nước bẩn sau các KTX tạo sự thông thoáng của nước thải để tránh muỗi, côn trùng phát triển.</h4>
<h4>- Phối hợp với viên chức đơn vị giáo dục SV thực hiện nếp sống văn hóa trong KTX ( đổ rác đúng quy định, phân loại rác, không chơi bóng ở KTX, không chạy, nhảy la hét ồn ào…).</h4>
<h4>- Các công việc khác khi được phân công.</h4>

