
@{
    ViewBag.Title = "Form";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<p style="text-align:center">CÁC BIỂU MẪU</p>
<h4>
    - Phiếu đăng ký chỗ ở Nội trú Dành cho Sinh viên khóa mới.
    <a href="~/Assets/PhieuDK_SV_moi.pdf" onclick="window.open(this.href, 'targetWindow', 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes'); return false;">(mẫu 1)</a>
</h4>
<h4>
    - Phiếu đăng ký chỗ ở Nội trú Dành cho Sinh viên khóa mới.
    <a href="~/Assets/mau2.pdf" onclick="window.open(this.href, 'targetWindow', 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes'); return false;">(mẫu 2)</a>
</h4>
<h4>
    - Đơn xin thôi ở KTX trước thời hạn.
    <a href="~/Assets/mau3.pdf" onclick="window.open(this.href, 'targetWindow', 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes'); return false;">(mẫu 3)</a>
</h4>
<h4>
    - Đơn xin hoàn phí.
    <a href="~/Assets/mau4.pdf" onclick="window.open(this.href, 'targetWindow', 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes'); return false;">(mẫu 4)</a>
</h4>
<h4>
    - Đơn xin hoàn phí chênh lệch.
    <a href="~/Assets/mau5.pdf" onclick="window.open(this.href, 'targetWindow', 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes'); return false;">(mẫu 5)</a>
</h4>

