
@{
    ViewBag.Title = "Information";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<p style="text-align:center; color: #000000">QUÁ TRÌNH PHÁT TRIỂN</p>
<h4>Tên đơn vị phòng Quản lý nội trú chính thức được thành lập năm 1999, trở thành đơn vị độc lập về chuyên môn, có chức năng nhiệm vụ cụ thể.</h4>
<h4>Tháng 8 năm 2004, Hiệu trưởng quyết định sát nhập với đơn vị phòng Bảo vệ thành đơn vị mới: phòng Bảo vệ- Nội trú nhằm giảm bớt bộ máy cồng kềnh của Nhà trường và hỗ trợ nhau trong công tác.</h4>
<h4>Trước năm 1999, quy mô các khu ký túc xá của trường Đại học Quy Nhơn còn nhỏ, quản lý nội trú chỉ là một bộ phận của phòng Hành chính-Quản trị, bộ máy nhân sự chưa rõ ràng, còn mang tính kiêm nhiệm, chưa chuyên trách.</h4>
<h4>Nhiệm kỳ 1999-2003, phòng chuyên trách Quản lý nội trú chính thức được ra quyết định thành lập và bắt đầu thực hiện chức năng nhiệm vụ của đơn vị.</h4>
<h4>Năm 2010, Hiệu trưởng ký quyết định đặt tên mới : Trung tâm Quản lý Ký túc xá</h4>
<h4>Để phù hợp chức năng nhiệm vụ, ngày 16 tháng 01 năm 2015 đơn vị đổi tên thành Phòng Quản lý Ký túc xá, trực thuộc Trường Đại học Quy Nhơn.</h4>
<div style="text-align: center">
    <img src="~/Assets/ktx1.jpg" />
</div>


