
@{
    ViewBag.Title = "Infrastructure";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<p style="text-align:center; color: #000000">CƠ SỞ VẬT CHẤT</p>
<h4>Trước năm 1995,  có 3 khu KTX : OA, OB và khu 4 tầng, với tổng số 188 phòng ở và bố trí được 2000 chỗ. Cuối năm 1996, do quy mô phát triển, nhu cầu chỗ ở của sinh viên ngày càng tăng, nhà trường hợp đồng với Quân đoàn 3 tại địa chỉ số 08 đường Cao Thắng thành phố Quy nhơn để làm chỗ ở nội trú. Tại đây có 30 phòng với sức chứa 450 chỗ và được đặt tên là khu nội trú QĐ3 (Quân đoàn 3), cách trường khoảng 3 km.</h4>
<h4>Năm 1997, trường xây mới một KTX được đặt tên là KTX C3, là khối nhà 5 tầng với 60 phòng có sức ở 720 chỗ.</h4>
<h4>Cũng trong năm 1997, trường thuê thêm doanh trại quân đội tại địa chỉ 170 đường Diên Hồng, thành phố Quy Nhơn với sức ở 600 chỗ và đặt tên khu nội trú Diên Hồng, cách trường khoảng 1km.</h4>
<h4>Năm 2001, hai khu KTX OA và OB chuyển đổi mục đích sử dụng. Do chỗ ở bị giảm bớt, Nhà trường đề nghị Bộ GD-ĐT xây thêm một khu KTX mới, cuối năm 2001 thì hoàn thành với 62 phòng, sức ở 740 chỗ và đặt tên KTX C5.</h4>
<h4>Năm 2003, nhà trường đồng thời cho khởi công xây dựng 2 khu KTX mới là C4 và C6. Sau một năm thì hoàn thành đưa vào sử dụng với sức ở 1560 chỗ.</h4>
<h4>Năm 2004. Hợp đồng thuê 2 khu nội trú với quân đội hết hạn( khu KTX QĐ3 và khu Diên Hồng). Tính đến tháng 12 năm 2004, trường ĐHQN có 5 khu KTX, tổng số 298 phòng với sức chứa khoảng 3500 chỗ.</h4>
<h4>Tháng 9/ 2006, tiếp tục khởi công xây dựng khu KTX C1, tháng 10/2007 hoàn thành với tổng số 92 phòng ở, sức chứa 1024 chỗ ở.</h4>
<h4>Như vậy sau khi đưa KTX C1 vào hoạt động, nâng tổng số lên 6 khu KTX, với 380 phòng ở, sức ở tối đa khoảng 4400 chỗ.</h4>
<h4>Khu Ký túc xá (KTX) sinh viên tọa lạc trong khuôn viên Trường Đại học Quy Nhơn. Với vị trí như vậy nên rất thuận lợi cho sinh viên về đời sống sinh hoạt và học tập khi ở trong khu KTX. Từ nơi ở KTX đến giảng đường học tập đi bộ chưa được 10 phút.</h4>
<h4>Hiện tại, với 6 khối nhà từ 4 đến 6 tầng được đặt tên từ KTX C1, C2, C3, C4, C5, C6 . Tổng số 350 phòng ở tương đương 2500 chỗ ở cho sinh viên( trung bình 8 sv/1 phòng). Các phòng ở đều được xây dựng khép kín theo tiêu chuẩn của Bộ GD&ĐT (công trình WC, nhà tắm đều nằm trong phòng ở).</h4>
<h4>Mỗi khu KTX có một phòng sinh hoạt văn hóa, có bàn ghế đầy đủ để học tập và xem ti vi.</h4>
<h4>Từ tháng 10/2018, Nhà trường đã trang bị dịch vụ Internet không dây đến từng KTX, thuận tiện cho sinh viên học tập và sinh hoạt.</h4>
<h4>Hệ thống nước máy thành phố đã được trang bị đến từng phòng ở KTX, thỏa mãn điều kiện nước sạch cho sinh viên sử dụng.</h4>
<div style="text-align: center">
    <img src="~/Assets/ktx2.png" />
</div>


