
@{
    ViewBag.Title = "Manage";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<p style="text-align:center; color: #000000">CÔNG TÁC QUẢN LÝ</p>
<h4>Công tác quản lý sinh viên của phòng chức năng  Quản lý KTX với nhiều ưu điểm.</h4>
<h4>Sinh viên khi có nhu cầu vào ở KTX đều phải làm Hồ sơ sinh viên ở KTX: Việc làm hồ sơ sinh viên nhằm mục đích quản lý sinh viên nội trú chặt chẽ hơn.</h4>
<h4>Hồ sơ gồm:</h4>
<h4>- Hợp đồng ở KTX.</h4>
<h4>- Có trích ngang lý lịch sinh viên, có ảnh kèm theo.</h4>
<h4>Sinh viên được bố trí ở theo giá tiền, phù hợp chất lượng phòng ở. Mỗi  KTX được  thiết lập sổ ảnh và hình ảnh được thể hiện độc lập từng phòng, có thông tin về từng thành viên (học ngành, khóa…).</h4>
<h4>Mỗi KTX có 2 nhân viên luân phiên thường trực 24/24 đảm bảo công tác an ninh trật tự, giám sát quản lý sinh viên ra vào cửa KTX, quản lý tài sản, thiết bị PCCN...</h4>
<h4>Mỗi KTX có 01 nhân viên vệ sinh môi trường, thường xuyên dọn dẹp khu vực KTX, đem lại môi trường sạch sẽ cho sinh viên ở nội trú.</h4>
<div style="text-align: center">
    <img src="~/Assets/ktx3.jpg" />
</div>

