
@{
    ViewBag.Title = "Office";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<p style="text-align: center">BỘ PHẬN VĂN PHÒNG</p>
<p>1. Phụ trách chung.</p>
<h4>- Triển khai công tác của Nhà trường đến đơn vị.</h4>
<h4>- Quy định nhiệm vụ của từng cán bộ; theo dõi nhận xét đánh giá đối với HĐLĐ mùa vụ, dài hạn.</h4>
<h4>- Điều hành hoạt động của đơn vị.</h4>
<p>2. Công tác an ninh trật tự:</p>
<h4>- Tiếp nhận biên bản vi phạm của sinh viên do viên chức thường trực KTX lập.</h4>
<h4>- Chủ động công tác mời, giải quyết sinh viên vi phạm.</h4>
<h4>- Báo cáo vụ việc mang tính nghiêm trọng (thông qua lãnh đạo đơn vị) gửi BGH, khoa quản lý sinh viên vi phạm, phòng Công tác sinh viên để xử lý và có hình thức giáo dục.</h4>
<h4>- Phối hợp công an các cấp cùng giải quyết vi phạm liên quan sinh viên nội trú khi có đề nghị của CA.</h4>
<h4>- Giải quyết vụ việc vi phạm nội quy của sinh viên ở các khu KTX. Kết luận vi phạm của sinh viên sau khi đã hội ý và được lãnh đạo đơn vị đồng ý.</h4>
<h4>- Báo cáo CA khu vực về các vụ việc vi phạm pháp luật ( trộm cắp tài sản, tệ nạn, đánh nhau….).</h4>
<h4>- Vào sổ theo dõi, lưu hồ sơ vi phạm.</h4>
<h4>-Giám sát, nhắc nhở nhân viên thường trực KTX, sinh viên vi phạm thực hiện theo kết luận đã giải quyết.</h4>
<h4>- Đề xuất các giải pháp để giữ gìn trật tự trị an KTX.</h4>
<h4>- Tổng hợp báo cáo định kỳ về công tác ANTT của đơn vị vào cuối từng tháng.</h4>
<h4>- Triển khai hoạt động của Tổ tự quản an ninh trật tự ký túc xá.</h4>
<h4>- Các công việc khác khi được lãnh đạo phân công.</h4>
<p>3. Phụ trách cơ sở vật chất:</p>
<h4>- Kiểm tra, tổng hợp báo cáo hư hỏng về cơ sở vật chất cho phòng chức năng.</h4>
<h4>- Chủ động xử lý và đề xuất phương án giải quyết – báo cáo lãnh đạo đơn vị khi xảy ra sự cố bất thường về cơ sở vật chất, vệ sinh môi trường.</h4>
<h4>- Đề xuất mua sắm mới vật tư để phục vụ công tác vệ sinh môi trường, vật tư trang bị phòng ở sinh viên.</h4>
<h4>- Hỗ trợ công tác kiểm tra nề nếp ở của SV KTX.</h4>
<h4>- Theo dõi vật tư xuất kho sửa chữa tại các KTX (lập các biểu mẫu theo dõi chặt chẽ).</h4>
<h4>- Theo dõi tài sản hư hỏng, tài sản mới đưa vào sử dụng.</h4>
<h4>- Theo dõi tài sản phòng ở SV. Đề xuất phương án giải quyết khi hư hỏng.</h4>
<p>4. Tổng hợp kiểm kê tài sản cuối năm của đơn vị:</p>
<h4>- Các công việc quản lý tài sản toàn đơn vị, kiểm kê tài sản của đơn vị hàng năm.</h4>
<h4>- Các công việc của phòng khi được lãnh đạo phân công.</h4>
<p>5. Công tác phòng chống cháy nổ(PCCN): </p>
<h4>- Chủ động lên kế hoạch PCCN tại các khu KTX sinh viên.</h4>
<h4>- Hướng dẫn cách xử lý tình huống cháy nổ cho cán bộ thường trực.</h4>
<h4>- Tổng hợp, báo cáo công tác phòng chống cháy nổ từng KTX, đề nghị với lãnh đạo đơn vị bằng văn bản những vấn đề cần thiết trước mắt để không xảy ra cháy nổ tại đơn vị (các khu KTX).</h4>
<h4>- Thường xuyên đôn đốc nhắc nhở cán bộ thường trực làm nhiệm vụ: kiểm tra, giám sát sinh viên vi phạm công tác PCCN ( nấu bếp trong phòng ở, tàng trữ các vật liệu dễ cháy…).</h4>
<h4>- Khi có sự cố về cháy nổ cần có mặt kịp thời để cùng cán bộ trực khắc phục hậu quả. Nắm bắt diễn biến vụ việc để lập hồ sơ giải quyết về sau.</h4>
<p>5. Phụ trách vệ sinh môi trường của đơn vị:</p>
<h4>- Giám sát công tác vệ sinh môi trường, đôn đốc nhắc nhở viên chức hoàn thành nhiệm vụ.</h4>
<p>6. Phụ trách công tác sinh viên Lào:</p>
<h4>- Nắm bắt tình hình sinh viên Lào: danh sách, ngành học, tình hình từng khóa, Ban đại diện; phối hợp viên chức thường trực lập sổ ảnh, danh sách sinh viên theo phòng ở…số sinh viên Lào hiện tại – vắng mặt tại chỗ ở - lý do vắng mặt). Chủ động đưa ra phương pháp quản lý để đạt hiệu quả cao ; là đầu mối cung cấp tình hình thực tế của sinh viên Lào khi có yêu cầu của đơn vị chức năng.</h4>
<p>7. Phân chia chỗ ở cho sinh viên có nhu cầu nội trú.</p>
<p>8. Các nhiệm vụ khác: </p>
<h4>- Nhập số liệu chỉ số công tơ điện, nước máy ghi hàng tháng các phòng ở KTX vào bảng tính – thành tiền từng phòng ở, từng khu KTX. Chịu trách nhiệm về số liệu tính toán (ký nháy vào bảng tính).</h4>
<h4>- Tổng hợp tiền điện, nước các KTX hàng tháng trình BGH ký duyệt, nộp cho phòng KH-TC (lưu giữ hồ sơ ).</h4>
<h4>- Soạn thảo văn bản thông thường ( tờ trình, báo cáo…) theo yêu cầu công việc, nộp cho phòng chức năng HC-TH. Theo dõi (vào sổ theo dõi, ký giao –nhận tờ trình) nhận công văn;lưu giữ giấy tờ, công văn đến, đi.</h4>
<h4>- Công tác chuẩn bị đón sinh viên vào ở KTX: triển khai in ấn hồ sơ, sổ sách, Hợp đồng ở nội trú và các loại giấy tờ liên quan khác.</h4>
<h4>- Công việc văn phòng : viết giấy mời, đưa giấy mời, thư ký cuộc họp…</h4>
<h4>- Các công tác khác của đơn vị khi được trưởng đơn vị phân công.</h4>
<h4>- Nhận công văn, giấy tờ,...</h4>
<h4>- Phối hợp viên chức thường trực kiểm tra nội vụ phòng ở sinh viên KTX khi lãnh đạo yêu cầu.</h4>
<h4>- Lưu giữ, quản lý hồ sơ, hợp đồng ở KTX.</h4>
<h4>- Chịu trách nhiệm nhận, trả biên lai với phòng KHTC.</h4>
<h4>- Thu tiền điện, nước hàng tháng của sinh viên ở KTX.</h4>
<h4>- Viết biên lai trả cho sinh viên khi nhận tiền điện, nước của sinh viên.</h4>
<h4>- Quản lý kho vật tư nội trú, nhập – xuất kho (theo dõi cấp phát..).</h4>
<h4>- Thủ quỹ của đơn vị.</h4>
<h4>- Các công việc của đơn vị khi được phân công.</h4>
<h4>- Sửa chữa thiết bị điện, nước và các cơ sở vật chất hư hỏng khác của KTX.</h4>
<h4>- Làm vệ sinh bồn chứa nước, bể chứa nước các khu KTX.</h4>
<h4>- Bảo dưỡng CSVC để tăng độ bền của vật tư, thiết bị,...</h4>
<h4>-Các công việc của đơn vị khi lãnh đạo phân công.</h4>


