
@{
    ViewBag.Title = "Price_list";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<p style="text-align:center; color: #000000">BẢNG GIÁ KÍ TÚC XÁ 2020 - 2021</p>
<div style="text-align: center">
    <img src="~/Assets/lephiktx2020-2021.jpg" />
</div>

