
@{
    ViewBag.Title = "Room_list";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<link href="~/Assets/styleRoom_list.css" rel="stylesheet" />
<div>
    <form class="navbar-form navbar-left" action="#">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Tìm kiếm" name="search" />
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>
    <h2 style="text-align:center">Product Card</h2>

    <div class="card">
        <img src="/w3images/jeans3.jpg" alt="Denim Jeans" style="width:100%">
        <h1>Tailored Jeans</h1>
        <p class="price">$19.99</p>
        <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
        <p><button>Đăng ký</button></p>
    </div>
</div>



