
@{
    ViewBag.Title = "Utilities";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<p style="text-align:center; color: #000000">CÁC TIỆN ÍCH ĐI KÈM</p>
<h4>1. Trung tâm phục vụ sinh viên: Là một tòa nhà khang trang, mát mẽ, sạch sẽ, được trang bị đầy đủ bàn ghế, tủ đựng thực phẩm đúng tiêu chuẩn đã được Trung tâm vệ sinh an toàn thực phẩm kiểm định định kỳ. Trung tâm nằm ngay giữa các KTX, phục vụ ăn sáng, giải khát, cơm trưa, chiều…các dịch vụ sinh nhật, đặt tiệc liên hoan và cung cấp nhiều mặt hàng thực phẩm nước ngọt giải khát, kem lạnh, sữa chua với giá cả cạnh tranh.. sinh viên vừa giải trí, vừa truy cập Wifi miễn phí.</h4>
<h4>2. Trạm Y tế: Vị trí nằm ngay trong khối nhà KTX C1, có cán bộ y tế trực 24/24 để  tư vấn và chăm sóc sức khỏe cho sinh viên nội trú. Trạm Y tế luôn có đầy đủ cơ số thuốc để phục vụ và chăm sóc sức khỏe cho sinh viên ở KTX.</h4>
<h4>3. Thư  viện: Với vị trí gần kề khu KTX, sinh viên ở KTX rất thuận tiện cho việc học tập và mở mang tri thức tại thư viện.</h4>
<h4>4. Sân thể thao cách 50m: Sinh viên ở KTX được sử dụng các sân bóng chuyền, bóng rổ, cầu lông, bóng đá ngay cạnh KTX.</h4>
<h4>5. Thuận lợi để tham gia các câu lạc bộ, hội: Sinh viên ở KTX rất thuận lợi khi tham gia các hoạt động tập thể, hoạt động của câu lạc bộ, hội nhóm ngoài giờ học để nâng cao kỹ năng, trải nghiệm và tích lũy kinh nghiệm sống.</h4>
<h4>6. Dịch vụ Photocopy cũng được Nhà trường quan tâm mở ngay tại khuôn viên KTX để phục vụ sinh viên khi cần thiết.</h4>
<div style="text-align: center">
    <img src="~/Assets/ktx4.jpg" />
</div>

